.register1
{
    margin-bottom: 100px;
}

.register
{
	margin-top: -100px;
	width: 100%;
	
	background-image: url(../../../../../images/couple.jpg);
    background-size: 100% 800px;
	background-repeat: no-repeat;
}


.hello
{
    margin-top:200px;
    
   
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 650;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}





