.accept_cookie
{
    background-color: #1d1f21;
    position: fixed;
    bottom:0;
    width: 100%;
    margin: 0px auto;
    color: #fff;
    padding: 15px;
    z-index: 999;
    opacity: 0.9;
    height:150px;

}


