.register
{
	margin-top: -100px;
	width: 100%;
	height: 800px;
	background-image: url(../images/slider1.jpg);
    background-size: 100% 800px;
	background-repeat: no-repeat;
}


.container
{
    margin-top:100px;
    background: rgb(180, 171, 168);
    width: 600px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 650;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}





