


/*?
.login1 .container #login-row #login-column .login-box {
    margin-top: 200px;
    max-width: 600px;
    height: 450px;
    border: 1px solid #9C9C9C;
    background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
  }
  #login1 .container #login-row #login-column .login-box #login-form {
    padding: 20px;
  }
  #login1 .container #login-row #login-column .login-box #login-form #register-link {
    margin-top: -85px;
  }
  #login1 
  {
      margin-top: -40px;
      width: 100%;
      height: 700px;
      background-color:#e9ecef;
      background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
      background-size: 100% 700px;
      background-repeat: no-repeat;
  }
  
  .text-info
  {
  margin-top: 30px;
  }


  */


.form-signin-heading
  {
    margin-top: 50px;
    margin-left: 40%;
    margin-bottom:50px;
    padding: 10px;
  }


  .login-box col-md-12
  {
    background-color: #f2f2f2;
  }


 
